<%-include(./partials/header.ejs)%>

<h1>This is index Page</h1>

<form>
    <h1>Application Form</h1><br>
    <lable for="fname"> First Name:</lable>
    <input type="text" placeholder="Enter your Name" name="fname" id="fname" required>
    <br><br>
    <label for="phone">Enter phone number:</label>
    <input for="tel" name="phone" required>
    <br><br>
    <lable for="email">Enter email id:</lable>
    <input for="email" placeholder="Enter your email" name="enamiid" id="enamiid" required>
    <br><br>
</form>

<%-include(./partials/footer.ejs)%>